$style_yellow: #FFCC00;
$style_red: #FC3F1D;
$style_light-blue: #6DAAE8;
$style_blue: #0054B9;
$style_grey: #777777;
$style_black: #222222;

$body-font-family: 'Ubuntu', sans-serif;
$heading-font-family: 'Ubuntu', sans-serif;