$style_yellow: #FFCC00;
$style_red: #FC3F1D;
$style_light-blue: #6DAAE8;
$style_blue: #0054B9;
$style_grey: #777777;
$style_black: #222222;

$body-font-family: 'Ubuntu', sans-serif;
$heading-font-family: 'Ubuntu', sans-serif;
$text-field-border-radius: 12.5px;
$text-field-line-height: auto;
$text-field-padding: 15px 20px;
$input-font-size: 30px;
$data-table-regular-header-font-size: 1.1rem;
$snackbar-btn-padding: 0px;